#container {
    display: flex;
  }
  form{
    padding: 100px;
  }
  
  .split {
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    margin: 0;
    height: 50px;
  }
  .error{
    padding: 10px;
    color: red;
  }
