.row{
    display: inline-flexbox;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
::placeholder{
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
}