<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>This is great that you are here</h1>
    <p>Welcome to the project</p>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr class="text-center">
        
        <th scope="col">User name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody id="table_body">
      
    </tbody>
  </table>
</main>
<script>
  fetch("http://localhost:3002/api/tutorials").then((data)=>{
    //console.log(data);
    return data.json(); // Converted to object
}).then((objectData)=>{
 //   console.log(objectData[0]);
    let tableData="";
    AllData = objectData;
    objectData.map((values)=>{
        tableData +=`<tr class="text-center">
           
        <td class="text-center">${values.title}</td>
        <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onClick="handleClick(${values.id})">
            <i class="fa-solid fa-eye"></i>
          </button></td>
      </tr>`;
      
    });
    document.getElementById("table_body").innerHTML=tableData;
}).catch((error)=>{
    console.log(error);
});

</script>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>